<!-- 
<app-navbarcompany></app-navbarcompany>
<nav class="navbar">
  <input class="form-control" type="text" name="skills" [(ngModel)]="skills" (ngModelChange)="Search()"
        placeholder="Enter Skills to search">
</nav>

<div class="text-center">
  <div class="card" >
    <br>
    <br>
    <div class="card-header text-center fs-3">
      Job Seeker List
    </div>
    <div class="card-body" >
      <table class=" table table-success table-striped table-hover" >
        <thead>
          <tr>
            <th scope="col">JobSeekerId</th>
            <th scope="col">JobSeekerName</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">MobileNumber</th>
            <th scope="col">Skills</th>
          </tr>
        </thead>
        <tbody *ngFor="let jb of JobData">
          <td>{{jb.jobSeekerId}}</td>
          <td>{{jb.jobSeekerName}}</td>
          <td>{{jb.email}}</td>
          <td>{{jb.gender}}</td>
          <td>{{jb.mobileNumber}}</td>
          <td>{{jb.skills}}</td>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<app-navbarcompany></app-navbarcompany>

<nav class="navbar navbar-dark bg-dark">
  <div class="input-group">
    <span class="input-group-text" id="search-icon">
      <i class="fas fa-search"></i>
    </span>
    <input class="form-control" type="text" name="skills" [(ngModel)]="skills" (ngModelChange)="Search()"
      placeholder="Search by Skills" aria-label="Search" aria-describedby="search-icon">
  </div>
</nav>

<div class="container mt-4">
  <div class="card">
    <div class="card-header  text-white text-center fs-3" style="background-color: #e3c500;">
      Job Seeker List
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover table-responsive-md">
        <thead style="background-color: #6c757d;" class="text-white">
          <tr>
            <th scope="col">JobSeekerId</th>
            <th scope="col">JobSeekerName</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">MobileNumber</th>
            <th scope="col">Skills</th>
            <!-- <th scope="col">Send Message</th> -->
          </tr>
        </thead>
        <tbody *ngFor="let jb of JobData">
          <tr>
            <td>{{jb.jobSeekerId}}</td>
            <td>{{jb.jobSeekerName}}</td>
            <td>{{jb.email}}</td>
            <td>{{jb.gender}}</td>
            <td>{{jb.mobileNumber}}</td>
            <td>{{jb.skills}}</td>
            <!-- <td>
            <button type="submit" form="form1" value="Submit" style="background-color:darkturquoise;" >Message</button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
