<!-- <app-navbaradmin></app-navbaradmin>
<nav class="navbar">
  <input class="form-control" type="text" name="JobTitle" [(ngModel)]="JobTitle" (ngModelChange)="Search()"
        placeholder="Enter JobTitle to search">
</nav>
<div class="text-center">
  <div class="card" >
    <br>
    <br>
    <div class="card-header text-center fs-3">
      Job List
    </div>
    <div class="card-body" >
      <table class=" table table-success table-striped table-hover" >
        <thead>
          <tr>
            <th scope="col">JobId</th>
            <th scope="col">JobTitle</th>
            <th scope="col">JobDescription</th>
            <th scope="col">JobExperienceLevel</th>
            <th scope="col">JobSkillSet</th>
            <th scope="col">JobPayScale</th>
            <th scope="col">JobLocation</th>
            <th scope="col">CompanyId</th>
        </tr>
        </thead>
        <tbody *ngFor="let jb of joblist">
          <td>{{jb.jobId}}</td>
          <td>{{jb.jobTitle}}</td>
          <td>{{jb.jobDescription}}</td>
          <td>{{jb.jobExperienceLevel}}</td>
          <td>{{jb.jobSkillSet}}</td>
          <td>{{jb.jobPayScale}}</td>
          <td>{{jb.jobLocation}}</td>
          <td>{{jb.companyId}}</td>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<app-navbaradmin></app-navbaradmin>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</head>

<nav class="navbar navbar-dark bg-dark">
  <div class="input-group">
    <span class="input-group-text" id="search-icon">
      <i class="fas fa-search"></i>
    </span>
    <input class="form-control" type="text" name="JobTitle" [(ngModel)]="JobTitle" (ngModelChange)="Search()"
      placeholder="Search by JobTitle" aria-label="Search" aria-describedby="search-icon">
  </div>
</nav>

<div class="container mt-4">
  <div class="card">
    <div class="card-header  text-white text-center fs-3" style="background-color: #e3c500;" >
      Job List
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover table-responsive-md">
        <thead style="background-color: #6c757d;" class="text-white">
          <tr>
            <th scope="col">JobId</th>
            <th scope="col">JobTitle</th>
            <th scope="col">JobDescription</th>
            <th scope="col">JobExperienceLevel</th>
            <th scope="col">JobSkillSet</th>
            <th scope="col">JobPayScale</th>
            <th scope="col">JobLocation</th>
            <th scope="col">CompanyId</th>
          </tr>
        </thead>
        <tbody *ngFor="let jb of joblist">
          <tr>
            <td>{{jb.jobId}}</td>
            <td>{{jb.jobTitle}}</td>
            <td>{{jb.jobDescription}}</td>
            <td>{{jb.jobExperienceLevel}}</td>
            <td>{{jb.jobSkillSet}}</td>
            <td>{{jb.jobPayScale}}</td>
            <td>{{jb.jobLocation}}</td>
            <td>{{jb.companyId}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

