
<app-navbarjobseeker></app-navbarjobseeker>

<img src="assets\job_banner_1.jpg" class="rounded mx-auto d-block " width="1000" height="500" > 


<!-- <div class="text-center">
<div class="card" >
  <br>
  <br>
  <div class="card-header text-center fs-3">
    User Profile
  </div>
  <div class="card-body" >
    <table class=" table table-success table-striped table-hover" >
      <thead>
        <tr>
          <th scope="col">Jobld</th>
          <th scope="col">JobTitle</th>
          <th scope="col">JobDescription</th>
          <th scope="col">JobExperienceLevel</th>
          <th scope="col">JobSkillSet</th>
          <th scope="col">JobPayScale</th>
          <th scope="col">IpLocation</th>
          <th scope="col">JobStatus</th>
          <th scope="col">StartDate</th>
          <th scope="col">EndDate</th>
          <th scope="col">Companyld</th>
      </tr>
      </thead>
      <tbody *ngFor="let jb of joblist">
        <td>{{jb.jobld}}</td>
        <td>{{jb.jobTitle}}</td>
        <td>{{jb.jobDescription}}</td>
        <td>{{jb.jobExperienceLevel}}</td>
        <td>{{jb.jobSkillSet}}</td>
        <td>{{jb.jobPayScale}}</td>
        <td>{{jb.ipLocation}}</td>
        <td>{{jb.jobStatus}}</td>
        <td>{{jb.startDate | date:'short'}}</td>
        <td>{{jb.endDate | date:'short'}}</td>
        <td>{{jb.companyld}}</td>
      </tbody>
    </table>
  </div>
</div>
</div> -->

<!-- <div class="card" style="width: 50rem;"> -->
<!-- <img src="..." class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">{{myprofile.firstName}}</h5> -->
  <!-- <p class="card-text">{{myprofile.lastname}}</p>
  <p class="card-text">{{myprofile.email}}</p>
  <p class="card-text">{{myprofile.gender}}</p>
  <p class="card-text">{{myprofile.skills}}</p>
  <p class="card-text">{{myprofile.mobileNumber}}</p> -->
<!-- </div>
</div> -->

<!-- <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets\apply-for-job.jpg" style="height: 450px; width: 200px;;" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets\diversity-hands-searching-job-search-260nw-241745419.webp" style="height: 450px; width: 200px;"class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets\job-portal.jpg" style="height: 450px; width: 200px;" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

<!-- <div>
  <h2>User Profile</h2>
  <p>JobSeekerId: {{user.jobSeekerId}}</p>
  <p>FirstName: {{user.firstName}}</p>
  <p>LastName: {{user.lastName}}</p>
  <p>Gender: {{user.gender}}</p>
  <p>Email: {{user.email}}</p>
  <p>MobileNumber: {{user.mobileNumber}}</p>
  <p>Skills: {{user.skills}}</p>
</div> -->



